In [3]:
import numpy as np
ages = [14, 12, 11, 10, 8, 6, 8]

Mean, Median, Variance, Std Dev, stErr

In [5]:
[print(np.mean(ages)),
 print(np.median(ages)),
 print(np.var(ages)),
 print(np.std(ages)),
 print(np.std(ages)/np.sqrt(7))]

9.857142857142858
10.0
6.408163265306122
2.531435020952764
0.9567925036515135

[None, None, None, None, None]

In [12]:
import pandas as pd
olderCindy=pd.DataFrame()

In [13]:
olderCindy['ages']=[14, 12, 11, 10, 8, 7, 8]

In [14]:
olderCindy.describe()

            ages
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000