## MPG dataset
I found it a bit surprising that the released dataset for the _Cash for Clunkers_ program actually neglected to provide MPG data on either the new cars which were purchased nor the cars which were traded in. <br>
Fortunately this gave me the opportunity to seek out another government data base, that of measured MPG for almost every make and model of car/truck sold in the last 40 years. <br>
It's been an interesting challenge trying to tease the data I'm looking for from these two data sets, especially as I try to do it "automatically".

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MPG_data = pd.DataFrame
MPG_data = pd.read_csv('Desktop/vehicles.csv')
MPG_data.head()

/home/john/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (73,74,76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

###  What is interesting about this dataset ?
1. Extremely large number of _uninteresting columns_
2. It's relatively exhaustive so MPG data for all cars, both new and traded-in can be found.
3. It has accurate description of Vehicle type, unlike the CARS data.
4. It has numbers for multiple different types of models. As the CARS data is less specific, I propose averaging all named the same.
5. To be useful, the data lookup needs to be automated.  I need to add this data into the CARS data as new columns and populate those columns with calls to this Data Frame.

#### Step One
I created a new DataFrame keeping only columns of data I find useful.

In [3]:
MPG_trimmed = pd.DataFrame
MPG_trimmed = MPG_data[['comb08','drive','fuelType','make','model','VClass','year']]

#### Step Two
I gather all information about a particular make, model and year.

In [4]:
MPG_trimmed[(MPG_trimmed.make.str.startswith("Ford")) 
            & (MPG_trimmed.model.str.startswith("Explorer")) 
            &(MPG_trimmed['year']==2009)]

,comb08,drive,fuelType,make,model,VClass,year
17674,16,Rear-Wheel Drive,Regular,Ford,Explorer Sport Trac 2WD,Standard Pickup Trucks 2WD,2009
17676,17,Rear-Wheel Drive,Regular,Ford,Explorer Sport Trac 2WD,Standard Pickup Trucks 2WD,2009
17692,15,4-Wheel or All-Wheel Drive,Regular,Ford,Explorer Sport Trac 4WD,Standard Pickup Trucks 4WD,2009
17693,16,4-Wheel or All-Wheel Drive,Regular,Ford,Explorer Sport Trac 4WD,Standard Pickup Trucks 4WD,2009
17740,16,Rear-Wheel Drive,Regular,Ford,Explorer 2WD,Sport Utility Vehicle - 2WD,2009
17741,17,Rear-Wheel Drive,Regular,Ford,Explorer 2WD,Sport Utility Vehicle - 2WD,2009
17790,15,4-Wheel or All-Wheel Drive,Regular,Ford,Explorer 4WD,Sport Utility Vehicle - 4WD,2009
17791,16,4-Wheel or All-Wheel Drive,Regular,Ford,Explorer 4WD,Sport Utility Vehicle - 4WD,2009

#### Step 3
I combine all models with same basic name, in this case "Explorer", and then average their MPG.

In [5]:
MPG_trimmed[(MPG_trimmed.make.str.startswith("Ford")) 
            & (MPG_trimmed.model.str.startswith("Explorer")) 
            &(MPG_trimmed['year']==2009)].comb08.mean()

16.0

BTW, we just learned why there weren't a lot of Ford Explorers, particularly not 4WD ones, sold in this program.

# This is where I'm stumped...

__What is preventing this function from working?__

In [6]:
def mpg(myMake, myModel, myYear):
    MPG_trimmed[(MPG_trimmed.make.str.startswith(myMake)) 
            & (MPG_trimmed.model.str.startswith(myModel)) 
            &(MPG_trimmed[myYear]==2009)].comb08.mean()

In [7]:
mpg("Ford","Taurus",2008)

KeyError: 2008